<h1 class="text-3xl font-bold font-family-montserrat">
    All Products {{ paginationService.currentPage() }}
</h1>
<h2 class="text-xl font-family-montserrat mb-5">
    Something for everyone
</h2>

@if (productsResource.error()) {
    <h1 class="flex justify-center items-center text-error text-2xl">{{ productsResource.error()?.message }}</h1>
}

@if (productsResource.isLoading()) {
    <loader />
}

@if (productsResource.hasValue()) {
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
        @for (product of productsResource.value().products; track product.id) {
            <product-card [product]="product"/>
        }@empty {
            <p>Not found products</p>
        }
    </section>
    <pagination [pages]="productsResource.value().pages" 
                [currentPage]="paginationService.currentPage()" 
    />
}


